{% extends "base.html" %}

{% load static %}

{% block stylesheets %}

{% endblock stylesheets %}


{% block title %}
Keonblog | Home
{% endblock title %}

{% block content %}

<div class="row">
  <!-- The Post List Section for Home -->
  <div class="col">
    {% include "snippets/home_post_card.html" %}
  </div>
  <!-- About and Tag Section for Home -->
  <div class="col-sm-4 d-none d-lg-block">
    {% include "snippets/home_about_card.html" %}

    {% include "snippets/home_tags_card.html" %}
  </div>
</div>


{% endblock %}
