.custom-header-navbar {
  min-height : 80px;
}

.custom-hamburger_modal {
  background-color: transparent;
}

.list-item-small {
  font-size :0.8rem;
}

.no-padding {
  padding : 0px 0px 0px 0px;
}

.no-margin {
  margin : 0px 0px 0px 0px;
}

/* Add space between the cards: */
