
{% load static %}

<!-- Modal -->
<div class="modal fade" id="hamburgerModal" tabindex="-1" aria-labelledby="hamburgerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="hamburgerModalLabel">Keon Blog</h5>
        <form class="form-inline my-2 my-lg-0">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="list-group">
        <a href="" class="list-group-item list-group-item-action"><i class="fas fa-user"></i> About</a>
        <a href="" class="list-group-item list-group-item-action"><i class="fas fa-book"></i> Posts</a>
        <a href="" class="list-group-item list-group-item-action"><i class="fas fa-address-book"></i> Projects</a>
        <a href="" class="list-group-item list-group-item-action"><i class="fab fa-github"></i> Github</a>
        <a href="" class="list-group-item list-group-item-action"><i class="fas fa-address-book"></i> Contact</a>
        <a href="" class="list-group-item d-md-none list-group-item-action"><i class="fas fa-search"></i> Search </a>
      </div>

      <div class="modal-footer">


      </div>
    </div>
  </div>
</div>


<!-- Global Navbar -->
<nav class="custom-header-navbar navbar navbar-expand-lg navbar-light bg-light sticky-top">
  <div class="container">
    <a class="navbar-brand" href = {% url 'home:main' %}>
      KeonBlog
    </a>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNav">
      <ul class="navbar-nav nav">
        <li class="nav-item active">
          <form class="form-inline">
            <div class="input-group">
              <input class="form-control py-2 border-right-0 border" type="search" placeholder="Search">
                <span class="input-group-append">
                  <button class="btn btn-outline-primary rounded-right" type="button">
                    <i class="fas fa-search"></i>
                  </button>
                </span>
              </div>
            </form>
        </li>
      </ul>
    </div>
    <button type="button" class="btn" data-toggle="modal" data-target="#hamburgerModal">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>






</nav>
