{% load static %}

{% for post in posts %}

<div class="card  mb-4 border-0">
  <div class="card-header text-center">
    {{ post.get_category_display }}
  </div>
  <div class="post-card-snippet pt-2">
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item border-0 list-item-small"><i class="fas fa-pen"></i> {{ post.created_at|date:"Y-m-d" }}</li>
      <li class="list-group-item border-0 list-item-small"><i class="fas fa-edit"></i> {{ post.edited_at|date:"Y-m-d" }}</li>
      <li class="list-group-item border-0 list-item-small"><i class="far fa-clock"></i> {{ post.read_time }} Mins </li>
      <li class="list-group-item border-0 list-item-small"><i class="far fa-eye"></i> {{ post.views }} Views </li>
    </ul>
  </div>
  <div class="pt-2 pb-2 pl-3 pr-3">
    <h3 class="card-title text-center"> {{ post.title }}</h3>
    <img src="..." class="card-img-top " alt="...">
    <p class="card-text"> {{ post.short_description }}</p>
  </div>

  <div class="card-footer bg-white border-top-0">
    {% for tag_dict in post.tags.dictify.Tag %}
    <a href="#" class="btn btn-info btn-sm">
      <small><i class="fas fa-tag"></i> {{ tag_dict.slug }}</small>
    </a>
    {% endfor %}
  </div>

  <div class="card-footer text-center justify-content-center no-padding">
    <a href="#" class="list-group-item list-group-item-action list-group-item-light no-margin border-0 bg-light"> More on this </a>
  </div>
</div>

{% endfor %}
