{% load static %}
<div class="card  mb-4 border-0">
  <div class="card-header text-center">
    Featured
  </div>
  <div class="post-card-snippet pt-2">
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item border-0 list-item-small"><i class="fas fa-pen"></i> Dec 10 2020</li>
      <li class="list-group-item border-0 list-item-small"><i class="fas fa-edit"></i> Dec 11 2020</li>
      <li class="list-group-item border-0 list-item-small"><i class="far fa-clock"></i> 10 Minute Read</li>
      <li class="list-group-item border-0 list-item-small"><i class="far fa-eye"></i> 10,000 Views </li>
    </ul>
  </div>
  <div class="pt-2 pb-2">
    <h5 class="card-title text-center">Card title</h5>
    <img src="..." class="card-img-top " alt="...">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>

  <div class="card-footer text-center justify-content-center no-padding">
    <a class="list-group-item list-group-item-action list-group-item-light no-margin border-0"> More on this </a>
  </div>
</div>

<div class="card  mb-4 border-0">
  <div class="card-header text-center">
    Featured
  </div>
  <div class="post-card-snippet pt-2">
    <ul class="list-group list-group-horizontal justify-content-center">
      <li class="list-group-item border-0 list-item-small"><i class="fas fa-pen"></i> Dec 10 2020</li>
      <li class="list-group-item border-0 list-item-small"><i class="fas fa-edit"></i> Dec 11 2020</li>
      <li class="list-group-item border-0 list-item-small"><i class="far fa-clock"></i> 10 Minute Read</li>
      <li class="list-group-item border-0 list-item-small"><i class="far fa-eye"></i> 10,000 Views </li>
    </ul>
  </div>
  <div class="pt-2 pb-2">
    <h5 class="card-title text-center">Card title</h5>
    <img src="..." class="card-img-top " alt="...">
    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
  </div>

  <div class="card-footer text-center justify-content-center no-padding">
    <a class="list-group-item list-group-item-action list-group-item-light no-margin border-0"> More on this </a>
  </div>
</div>
